*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  width: 100%;
}

/* ROW */
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* LIST */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}

body {
  -webkit-font-smoothing: auto;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* SVG */

svg.blue {
  color: rgb(31, 143, 255);
  cursor: pointer;
}

svg.red {
  color: rgb(255, 31, 31);
  cursor: pointer;
}

svg.green {
  color: rgb(255, 31, 31);
  cursor: pointer;
}

.nav-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(218, 218, 218);
  background-color: #0F172A;
  text-transform: capitalize;
  height: 90vh;
}

.nav-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-right: 0.5em;
  padding-left: 0.5em;
  width: 100%;
  font-size: 0.9em;
  font-weight: 600;
}

select {
  text-transform: uppercase;
  line-height: 2;
}

select option{
  background-color: #0F172A;
  color: #dddddd;
}

select::-webkit-scrollbar {
  width: 0.5em;
}

select::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

select::-webkit-scrollbar-thumb {
  background-color: #487ffd;
  outline: 1px solid rgb(111, 180, 245);
  border-radius: 0.2em;
}

select::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
}
